@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
    --font-geist: 'Geist Sans', sans-serif, system-ui;
    --font-inter: "Inter Tight", sans-serif;
    --font-recursive: "Recursive", sans-serif;
    --font-victor: "Victor Mono", monospace;
}