---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

interface Props {
    title: string;
    techIcons: string[];
    accentColor: string;
}

const {
    title,
    techIcons,
    accentColor
} = Astro.props
---

<article class="skill" style={`--accent: ${accentColor};`}>
    <h3>{title}</h3>
    <div class="skills-icons">
        {techIcons.map((icon) => (
            <Icon name={icon} />
        ))}

        <hr>
    </div>
</article>

<style>
    .skill {
        background-color: var(--ctp-surface);
        border-radius: 10px;
        height: 20em;
        width: 35em;
        border-top: 0.3em solid var(--accent);
        transition: 0.5s ease;
        text-align: center;
    }

    .skill:hover {
        transform: translateY(-1.5em);
        box-shadow: 0px 8px 15px var(--accent)
    }

    .skill h3 {
        font-size: 2em;
        font-family: var(--font-mono);
        margin-top: .5em;
    }

    .skills-icons {
        margin-top: 1em;
    }

    .skills-icons [data-icon] {
        font-size: 3em;
        margin-block: 1em;
        color: var(--ctp-subtext);
        transition: 0.3s ease;
        margin-inline: .5em;
    }

    .skills-icons [data-icon]:hover {
        color: var(--accent);
        transform: scale(1.2); 
        filter: drop-shadow(0 0 5px var(--accent));
    }

    hr {
        border: none;
        height: .3em;
        background-color: var(--accent);
        width: 80%;
        margin: 0 auto;
        border-radius: 5px;
    }

</style>